<div *ngIf = childSelectedBlog>
  <div class="container" id="edit-blog-post">
    <h5>{{childSelectedBlog.title}}</h5>
    <label>Edit Blog Post Title:</label>
    <input [(ngModel)]="childSelectedBlog.title">
    <h5>{{childSelectedBlog.author}}</h5>
    <label>Edit Blog Post Author:</label>
    <input [(ngModel)]="childSelectedBlog.author">
    <h5>{{childSelectedBlog.preview}}</h5>
    <label>Edit Blog Post Preview:</label>
    <input [(ngModel)]="childSelectedBlog.preview">
    <h5>{{childSelectedBlog.content}}</h5>
    <label>Edit Blog Post Content:</label>
    <input [(ngModel)]="childSelectedBlog.content">
    <h5>{{childSelectedBlog.tags}}</h5>
    <label>Edit Blog Post Tags:</label>
    <input [(ngModel)]="childSelectedBlog.tags">
    <br>
    <label>Edit Blog Post Image:</label>
    <input [(ngModel)]="childSelectedBlog.image">]
    <br>
    <button type="submit" (click)="finishedEditing()">Done</button>
    <br>
    <button type="submit" (click)="deleteBlogPost()">Delete</button>
  </div>
</div>
