.navbar {
  background-color: #18a0ae;
  font-family: 'Roboto', sans-serif;
  height: 77px;
  margin-bottom: 0px;
}

.nav-link {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.navbar a {
  color: white;
}

.footer {
  background-color: #054263;
  height: 100px;
}

#footer-text {
  color: white;
  padding-top: 30px;
}
