<div *ngIf="isLoggedIn">
  <div>
    <app-blog-post-preview></app-blog-post-preview>
  </div>

  <div class="container">
    <div class="panel panel-default" id="update-blog-post">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Blog Post to Database</h3>
      </div>
      <div class="panel-body">
        <div>
          <label>Blog Post Title:</label>
          <br>
          <input #newTitle>
        </div>

        <div>
          <label>Blog Post Author:</label>
          <br>
          <input #newAuthor>
        </div>

        <div>
          <label>Blog Post Preview Text:</label>
          <br>
          <textarea #newPreview></textarea>
        </div>

        <div>
          <label>Blog Post Body Content:</label>
          <br>
          <textarea #newContent></textarea>
        </div>

        <div>
          <label>Blog Post Tags:</label>
          <br>
          <textarea #newTags></textarea>
        </div>

        <div>
          <label>Blog Post Image:</label>
          <br>
          <textarea #newImage></textarea>
        </div>

        <button (click)="submitForm(newTitle.value, newAuthor.value, newPreview.value, newContent.value, newTags.value, newImage.value); newTitle.value=''; newAuthor.value=''; newPreview.value=''; newContent.value=''; newTags.value=''; newImage.value=''">Add</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoggedIn">
  <p>Sorry! You can't access this page. Go back <a routerLink="">home.</a></p>
</div>
