#blog-post-preview {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

h2 {
  color: #686868;
  margin-bottom: 20px;
}

.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

.card-title {
  font-weight: bold;
}

.card-body {
  font-weight: 100;
}

#popular-places {
  padding-top: 30px;
}
